.box1 {
    width: 100%;
    height: 235px;
    box-sizing: border-box;
    border: 5px solid black;
    padding: 10px;
}

.square1 {
    width: 50px;
    height: 150px;
    background: purple;
    display: inline-block;
}

.square2 {
    width: 600px;
    height: 200px;
    background: green;
    display: inline-block;
    margin: 0 50px;
}

.circle1 {
    width: 200px;
    height: 200px;
    background: skyblue;
    border-radius: 50%;
    display: inline-block;
}

.box2 {
    width: 100%;
    height: 300px;
    box-sizing: border-box; 
    border: 5px dotted black;
    margin-top: 20px;
}

.square3 {
    width: 93%;
    height: 200px;
    background: tan;
    margin-top: 50px;
    margin-left: 50px;
    box-shadow: 3px 3px;
}

.box3 {
    width: 50%;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 350px;
}

.box3 h1 {
    text-align: center;
    margin-top: 150px;
    color: darkblue;
    letter-spacing: 5px;
}


